.edit__user__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__email {
  width: 100%;
  display: inline-block;
}

.name__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.form__element {
  width: 40%;
}
.form__label {
  display: inline-block;
  margin: 0.6rem 0;
}

.form__input {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid black;
}

.button__update {
  display: flex;
  // width: 100%;
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  background-color: #0074ef;
  color: white;
  // font-weight: bold;
  cursor: pointer;
}

.form__button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
  color: white;
 
}

.admin__wrapper {
  margin-top: 1rem;
  input {
    margin: 0;
  }
  .form__label {
    margin-left: 0.6rem;
    font-size: 1rem;
  }
}

.admin__checkbox {
  height: 1rem;
  width: 1rem;
}

.form__select {
  display: flex;
  width: 10%;
  height: 2rem;
  outline: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid black;
}
