.wrapper {
  height: 40px;
  width: 160px;
  background-color: #ffffff;
  margin-top: 5px;
  padding: 0px;
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
    font-size: 24px;
  }
}
.counter p {
  height: 35px;
  line-height: 35px;
  width: 35px;
  background-color: #ffffff;
  text-align: center;
}
