.alertWrapper {
  display: flex;
  justify-content: center;
}

.wrapper {
  position: fixed;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0px;
  

  .alerts {
    justify-content: center;
    font-size: 18px;
    align-items: center;
    display: flex;
  }
}

.danger {
  background-color: rgb(251, 143, 143);
}

.info {
  background-color: rgb(84, 197, 110);
}
