.alertWrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.wrapper {
  border-radius: 0.3rem;
  position: fixed;
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin: 0px;
  
  

  .alerts {
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    display: flex;
    margin: 0 2rem;
  }
}

.danger {
  background-color: rgb(251, 143, 143);
}

.success {
  background-color: rgb(84, 197, 110);
}

.warning {
  background-color: rgb(242, 199, 5);
}