.left__space {
  margin-left: 12.9rem;
}

.users__wrapper {
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  width: 80%;
}

.button__wrapper {
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.button__wrapper:hover {
  cursor: pointer;
  border: 1px solid;
  color: black;
}

.button__edit {
  color: #0074ef;
}

.button__edit:hover {
    background-color: #0074ef;
    color: white;
}

.button__delete {
  color: red;
}

.button__delete:hover {
    background-color: rgba(239, 19, 30, 0.902);
}

th {
  text-align: left;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
  cursor: pointer;
}
