.left__space {
  margin-left: 12.9rem;
}
.user__wrapper {
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  width: 60%;
  border-radius: 0.3rem;
  border: 1px solid black;
  padding: 3rem;
}

.button__wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.button__back {
  background-color: #ffffffff;
  color: black;
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  text-decoration: none;
  border: 1px solid black;
}

.button__back:hover {
  background-color: #0074ef;
  color: white;
  border: 1px solid transparent;
}

.user__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error__message {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}
