p {
  margin: 0;
}
.wrapper {
  width: 10%;
  display: flex;
  flex-direction: column;
  border: transparent;
  align-items: center;
  margin: 0 3rem;
 
}
.header {
  color: #707070;
  margin: 1rem 0 0.3rem 0;
  font-size: 18px;
}
.iconsGroup {
  flex-direction: row;
  display: flex;
  margin-right: 50px;
}

.price {
  color: #707070;
  font-size: 18px;
  display: block;
}
.activeIndicator {
  width: 90%;
  height: 10px;
  background-color: #009bff;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.infoIcon {
  min-height: 25px;
  min-width: 25px;
  color: #707070;
  display: inline-block;
  margin-left: 50px;
  margin-right: 10px;
}
.middleIcon {
  min-width: 4rem;
  color: #707070;
}
.carGroupWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 15rem;
}
