.wrapper {
  min-width: 300px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  hr {
    // color: grey;
    width: 90%;
  }
}
.topPart {
  min-height: 150px;
  min-width: 800px;
  display: flex;

}
.pictureSide {
  margin-right: 20px;
  height: 150px;
  width: 250px;
}
.iconSide {
  align-items: baseline;
}
.carTypeAndName {
  display: flex;
  align-items: baseline;
  label {
    margin: 5px;
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
}
// .iconsLine {
//   font-size: 20px;
//   display: flex;
// }
.bottomPart {
  min-height: 150px;
  min-width: 800px;
  display: flex;
  background-color: aliceblue;
  flex-direction: row;
  justify-content: space-between;
  
}
.columnOne {
  display: flex;
  flex-direction: column;
}
.columnOneText {
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 15px;
  p {
    font-size: 18px;
    font-weight: bold;
  }
  label {
    font-size: 20px;
  }
}

.columnTwo {
  padding: 0 20px;
  background-color: lightgreen;
}

.columnThree {
  height: 100px;
  width: 100px;
  background-color: green;
}

