.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.15),
    0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  hr {
    width: 90%;
  }
}
.topPart {
  display: flex;
}
.pictureSide {
  margin-right: 20px;
  height: 150px;
  width: 250px;
}
.iconSide {
  align-items: baseline;
}
.carTypeAndName {
  display: flex;
  align-items: baseline;
  label {
    margin: 5px;
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
}

.bottomPart {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.columnOne {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.columnOneText {
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 15px;
  p {
    font-size: 16px;
    font-weight: bold;
  }
  label {
    font-size: 18px;
  }
}

.columnTwo {
  padding: 0 20px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}

.benefitListItem {
  display: flex;
  flex-direction: row;
  margin: 3px;
  p {
    margin-left: 5px;
  }
}

.columnThree {
  display: flex;
}
.price {
  display: flex;
  align-items: flex-end;
  margin: 5px;
  label {
    font-size: 26px;
    font-weight: bold;
    margin-right: 25px;
  }
  button {
    background-color: green;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
  }
}
