.wrapper {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1), 0px 4px 10px 0px rgba(0, 0, 0, 0.015),
    0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  hr {
    width: 90%;
  }
}
.topPart {
  display: flex;
}
.pictureSide {
  margin-right: 20px;
  height: 8rem;
  width: 18rem;
}
.iconSide {
  align-items: baseline;
}
.carTypeAndName {
  display: flex;
  align-items: baseline;
  label {
    margin: 5px;
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
}

.bottomPart {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.columnOne {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.columnOneText {
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 15px;
  p {
    font-size: 16px;
    font-weight: bold;
  }
  label {
    font-size: 18px;
  }
}

.columnTwo {
  padding: 0 20px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}

.benefitListItem {
  display: flex;
  flex-direction: row;
  margin: 3px;
  p {
    margin-left: 5px;
  }
}

.columnThree {
  display: flex;
}
.price {
  display: flex;
  align-items: flex-end;
  margin: 5px;
  label {
    font-size: 26px;
    font-weight: bold;
    margin-right: 25px;
  }
  button {
    background-color: green;
    height: 50px;
    min-width: 200px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    &:hover {
      background-color: rgb(46, 163, 46);
      cursor: pointer;
    }
  }
}

.mainPictureWrapper {
  display: flex;
  height: 90%;
  width: 100%;

  img {
    height: 90%;
    width: 100%;
    margin: 1rem;
  }
}
