.left__space {
  margin-left: 12.9rem;
}
.error__message {
  margin-left: 12.9rem;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.rentals__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
