.return__wrapper {
  margin-left: 12.9rem;
  margin-top: 3rem;
}

.error__message {
  margin-left: 12.9rem;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.return__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 3rem 0;
}

.return__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  border-radius: 0.3rem;
  border: 1px solid black;
}

.return__form__leftColumn {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.return__form__rightColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  margin-top: 2rem;
}
.return__form__damage {
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    margin: 0.5rem 0.5rem 0.5rem 1.3rem;
  }
}

.return__form__textarea {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.3rem;
  textarea {
    margin: 1rem;
    min-height: 12rem;
    outline: none;
    resize: none;
    padding: 1rem;
    width: 100%;
    border-radius: 0.3rem;
  }
}

.return__form__middleColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.return__form__middleColumn__element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0;
  h4 {
    margin: 0.3rem 0.5rem;
  }
}

.return__form__element {
  margin: 0rem 0;
  p {
    margin: 0.5rem 1.3rem;
  }
}

.return__form__milageAfter {
  margin: 0 0 0.5rem 1.3rem;
  border-radius: 0.3rem;
}

.return__form__fuelAfter {
  margin: 0.5rem 0 0.5rem 1.3rem;
  border-radius: 0.3rem;
  input {
    margin: 0rem 0.5rem 0rem 1.3rem;
  }
}

.bottom__space {
  margin-bottom: 3rem;
}

.page__wrapper {
  // margin-left: 12.9rem;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
}

.return__location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.return__footer__summary {
  width: 90%;
  display: flex;
  justify-content: right;
}

.payment__summary__right {
  display: flex;
  flex-direction: column;
}

.payment__summary__right__title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #000000;
  align-items: center;
  justify-content: center;
  display: flex;
}

.payment__summary__right__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  p {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }
}

.payment__summary__right__info__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.payment__summary__right__info__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.form__input {
  width: 30%;
  height: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  outline: none;
}
