.formWrapper {
    max-width: 500px;
    margin: 10px auto;
    overflow: hidden;
  
    .btn:hover {
      opacity: 0.8;
    }
  
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    textarea {
      display: block;
      width: 100%;
      padding: 5px;
      font-size: 18px;
      border: none;
      background-color: #eef1fb;
    }
  
    input[type='submit'],
    button {
      font: inherit;
    }
    .registerLink {
      margin-top: 40px;
    }
  
    .btn {
      border: none;
      margin-top: 45px;
      border: none;
      cursor: pointer;
      background-color: #0074ef;
      padding: 10px;
      // font-size: 40px;
      color: black;
      display: block;
      width: 100%;
      border-radius: 25px;
    }
  
    .formGroup {
      margin: 1.2rem 0;
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    }
  }